
/*******************************************************************
					Cart Block(Header) Styles
********************************************************************/
#header .cart_block {
  position: absolute;
  top: 95px;
  right: 0;
  z-index: 100;
  display: none;
  height: auto;
  background: #484848;
  color: white;
  width: 270px; }
  @media (max-width: 480px) {
    #header .cart_block {
      width: 100%; } }
  @media (max-width: 1200px) {
    #header .cart_block {
      width: 100%; } }
  #header .cart_block a {
    color: white; }
    #header .cart_block a:hover {
      color: #9c9b9b; }
  #header .cart_block .cart_block_list .remove_link a,
  #header .cart_block .cart_block_list .ajax_cart_block_remove_link {
    color: white;
    outline: none;
    text-decoration: none; }
    #header .cart_block .cart_block_list .remove_link a:hover,
    #header .cart_block .cart_block_list .ajax_cart_block_remove_link:hover {
      color: #9c9b9b; }
  #header .cart_block .price {
    color: white; }
  #header .cart_block dt {
    background: url(../../../img/cart-shadow.png) repeat-x; }
    #header .cart_block dt.first_item {
      background: none; }
  #header .cart_block .product-atributes {
    padding-bottom: 10px;
    font-size: 11px; }
    #header .cart_block .product-atributes a {
      color: #9c9b9b; }
      #header .cart_block .product-atributes a:hover {
        color: white; }
  #header .cart_block .cart-prices {
    border: none;
    background: url(../../../img/cart-shadow.png) repeat-x #3d3d3d; }
  #header .cart_block .cart-buttons {
    background: url(../../../img/cart-shadow.png) repeat-x #333333; }
#header .block_content {
  margin-bottom: 0; }

.cart_block #cart_block_summary,
.cart_block .title_block span,
#header .cart_block h4,
#header .cart_block .title_block,
#header .cart_block h4 {
  display: none; }

.cart_block .cart_block_shipping_cost,
.cart_block .cart_block_tax_cost,
.cart_block .cart_block_total,
.cart_block .cart_block_wrapping_cost {
  float: right; }

.cart_block table.vouchers {
  clear: both;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 10px; }
  .cart_block table.vouchers tr td {
    padding: 2px; }
    .cart_block table.vouchers tr td.quantity {
      margin-right: 5px;
      min-width: 18px; }
    .cart_block table.vouchers tr td.delete {
      padding-left: 0;
      padding-right: 0;
      text-align: right;
      width: 15px; }

/*****************************************************************************
					Layer Cart Css
*****************************************************************************/
.layer_cart_overlay {
  background-color: #000;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

* html .layer_cart_overlay {
  position: absolute;
  left: 0;
  margin-left: -160px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2; }

#layer_cart {
  background-color: white;
  position: absolute;
  display: none;
  max-width: 836px;
  z-index: 999;
  width: 92%;
  left: 0;
  right: 0;
margin-left: auto;
margin-right: auto;
 
}
  #layer_cart .layer_cart_product {
    padding: 13px 13px 13px 20px;
    overflow: hidden;
    position: static; }
    #layer_cart .layer_cart_product h2 {
      font: 400 23px/29px Arial, Helvetica, sans-serif;
      color: #46a74e;
      margin-bottom: 22px; }
      @media (max-width: 767px) {
        #layer_cart .layer_cart_product h2 {
          font-size: 18px;
          padding-right: 0;
          line-height: normal; } }
      #layer_cart .layer_cart_product h2 i {
        font-size: 30px;
        line-height: 30px;
        float: left;
        padding-right: 8px; }
        @media (max-width: 767px) {
          #layer_cart .layer_cart_product h2 i {
            font-size: 22px;
            line-height: 22px; } 
        #layer_cart .layer_cart_product .product-image-container {
          display: none;
          margin-right: 0;
          margin-bottom: 10px; } 

          }
    #layer_cart .layer_cart_product .product-image-container {
      max-width: 135px;
      border: 1px solid #d6d4d4;
      padding: 5px;
      float: left;
      margin-right: 30px; }
      @media (max-width: 480px) {

        .total-ajax-cart {display: none;}

        }
    #layer_cart .layer_cart_product .layer_cart_product_info {
      padding: 38px 0 0 0;
      font-size: 14px; }
      #layer_cart .layer_cart_product .layer_cart_product_info #layer_cart_product_title, #layer_cart_product_attributes {
        display: block;
        padding-bottom: 8px; }
      #layer_cart .layer_cart_product .layer_cart_product_info > div {
        padding-bottom: 7px; }
        #layer_cart .layer_cart_product .layer_cart_product_info > div strong {
          padding-right: 3px; }
  #layer_cart .layer_cart_cart {
    background: #fafafa;
    border-left: 1px solid #d6d4d4;
    padding: 5px 19px 134px 28px;
    font-size: 16px;
    position: relative; }
  

    @media (max-width: 991px) {
      #layer_cart .layer_cart_cart {
        border-left: none;
        border-top: 1px solid #d6d4d4; } }
    #layer_cart .layer_cart_cart h2 {
      font: 400 23px/29px Arial, Helvetica, sans-serif;
      color: #333333;
      border-bottom: 1px solid #d6d4d4;
      padding-bottom: 13px;
      margin-bottom: 17px; }
      @media (max-width: 767px) {
        #add_to_cart .button{font-size: 14px;}
        #layer_cart .layer_cart_cart h2 {
          font-size: 18px; }
div#layer_cart .crossseling {
    display: none;
}
           }
    #layer_cart .layer_cart_cart .layer_cart_row {
      padding: 0 0 7px 0; }
    #layer_cart .layer_cart_cart .button-container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0px 30px 20px 30px; }
      #layer_cart .layer_cart_cart .button-container .button {
        margin-bottom: 10px;
        font-size: 14px; }
      #layer_cart .layer_cart_cart .button-container span.exclusive-medium {
        margin-right: 5px; }
        #layer_cart .layer_cart_cart .button-container span.exclusive-medium i {
          padding-right: 5px;
          color: #777777; }
  #layer_cart .cross {
    position: absolute;
    right: 7px;
    top: 8px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: #333333;
    z-index: 2; }
    #layer_cart .cross:before {
      content: "\f057";
      display: block;
      font-family: "FontAwesome";
      font-size: 25px;
      line-height: 25px; }
    #layer_cart .cross:hover {
      color: #515151; }
  #layer_cart .continue {
    cursor: pointer; }
  #layer_cart p {
    padding: 0px; }

/************************************************************************
						Layer Cart Caroucel
*************************************************************************/
#layer_cart .crossseling .crossseling-content {
  border-top: 1px solid #d6d4d4;
  padding: 1px 5px 10px 20px;
  position: relative; }
#layer_cart .crossseling h2 {
  font: 400 23px/26px Arial, Helvetica, sans-serif;
  color: #333333;
  margin-bottom: 25px; }
#layer_cart .crossseling #blockcart_list {
  max-width: 773px;
  width: 84%;
  margin: 0 auto;
  overflow: hidden; }
  #layer_cart .crossseling #blockcart_list ul {
    display: block; }
    #layer_cart .crossseling #blockcart_list ul li {
      float: left;
      width: 178px;
      margin: 0 0px 0 0; }
      #layer_cart .crossseling #blockcart_list ul li .product-image-container {
        border: 1px solid #d6d4d4;
        text-align: center;
        padding: 5px;
        margin-bottom: 15px; }
        #layer_cart .crossseling #blockcart_list ul li .product-image-container img {
          width: 100%; }
      #layer_cart .crossseling #blockcart_list ul li .product-name {
        padding-bottom: 5px; }
        #layer_cart .crossseling #blockcart_list ul li .product-name a {
          font-size: 15px;
          line-height: 20px; }
  #layer_cart .crossseling #blockcart_list a.bx-prev,
  #layer_cart .crossseling #blockcart_list a.bx-next {
    display: block;
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #333333;
    text-indent: -5000px;
    position: absolute;
    top: 45%;
    margin-top: -20px; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after,
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      display: block;
      text-indent: 0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:hover,
    #layer_cart .crossseling #blockcart_list a.bx-next:hover {
      color: #c0c0c0; }
    #layer_cart .crossseling #blockcart_list a.bx-prev.disabled,
    #layer_cart .crossseling #blockcart_list a.bx-next.disabled {
      display: none; }
  #layer_cart .crossseling #blockcart_list a.bx-prev {
    left: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-prev:after {
      content: "\f137"; }
  #layer_cart .crossseling #blockcart_list a.bx-next {
    right: 5%; }
    #layer_cart .crossseling #blockcart_list a.bx-next:after {
      content: "\f138"; }
  #layer_cart .crossseling #blockcart_list .bx-controls {
    overflow: hidden; }

#layer_cart a.button.btn-primary {
    width: 100%;
}

#layer_cart span.continue.button {
    width: 100%;
}

@media (max-width: 299px) {
 
div.product-desc .content_prices #add_to_cart{width: 100%;}
.btn-compra-container{width: 100%;}
#add_to_cart button.button {width: 100%;float: right;}
.boton-compra-follow button.button {width: 65%  !important;float: right;}
 .content_prices.main-color.clearfix .price {
    float: unset !important;
}   

.content_prices.main-color.clearfix {
    text-align: center;
}

}

span.cart-qties-mobile {
    display: block;
    position: absolute;
    top: 2px;
    right: 5px;
    border-radius: 100%;
    background: #e55812;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 0 3px;
    line-height: 12px;
}
