header .top_menu > ul > li > a:after,
header .top_menu .stickUpHolder > ul > li > a:after {
  background: #079edd; }
@media (max-width: 767px) {
  header .top_menu > ul > li.sfHover > a,
  header .top_menu > ul > li.sfHoverForce > a,
  header .top_menu > ul > li > a:hover,
  header .top_menu .menu-mobile-grover.active + a,
  header .top_menu .menu-mobile-grover:hover + a,
  header .top_menu .stickUpHolder > ul > li.sfHover > a,
  header .top_menu .stickUpHolder > ul > li.sfHoverForce > a,
  header .top_menu .stickUpHolder > ul > li > a:hover,
  header .top_menu .stickUpHolder .menu-mobile-grover.active + a,
  header .top_menu .stickUpHolder .menu-mobile-grover:hover + a {
    color: #079edd; } }
@media (min-width: 768px) {
  header .top_menu > ul > li.blog-item,
  header .top_menu .stickUpHolder > ul > li.blog-item {
    float: right;
    margin: 0; }
    header .top_menu > ul > li.blog-item > a,
    header .top_menu .stickUpHolder > ul > li.blog-item > a {
      background: #272727;
      color: #079edd; }
    header .top_menu > ul > li.blog-item.sfHover > a, header .top_menu > ul > li.blog-item.sfHoverForce > a, header .top_menu > ul > li.blog-item > a:hover,
    header .top_menu .stickUpHolder > ul > li.blog-item.sfHover > a,
    header .top_menu .stickUpHolder > ul > li.blog-item.sfHoverForce > a,
    header .top_menu .stickUpHolder > ul > li.blog-item > a:hover {
      color: white; } }
header #currencies-block-top div.current:hover, header #currencies-block-top div.current.active, header #languages-block-top div.current:hover, header #languages-block-top div.current.active {
  background: #079edd; }
header #currencies-block-top div.current:after, header #languages-block-top div.current:after {
  color: #079edd; }
header #currencies-block-top ul li.selected, header #currencies-block-top ul li.selected > span, header #currencies-block-top ul li.selected a, header #currencies-block-top ul li:hover a, header #languages-block-top ul li.selected, header #languages-block-top ul li.selected > span, header #languages-block-top ul li.selected a, header #languages-block-top ul li:hover a {
  color: #079edd; }
header #search_block_top .btn.button-search:hover {
  color: #079edd; }
header .shopping_cart > a:first-child {
  background: #079edd; }
  header .shopping_cart > a:first-child:hover:after {
    color: #079edd; }
header .header_user_info a:before {
  background: #079edd; }
header .header_user_info a:hover, header .header_user_info a.active {
  color: #079edd; }
header #contact-link a:before {
  background: #079edd; }
header #contact-link a:hover, header #contact-link a.active {
  color: #079edd; }
header .sf-menu > li > a:after {
  background: #079edd; }
@media (min-width: 768px) {
  header .sf-menu > li:last-child > a {
    color: #079edd; } }

#header .cart_block .price {
  color: #079edd; }
#header .cart_block .cart-buttons .btn {
  background: #079edd;
  color: #fff; }
  #header .cart_block .cart-buttons .btn span:after {
    color: #fff; }
  #header .cart_block .cart-buttons .btn:hover, #header .cart_block .cart-buttons .btn:active, #header .cart_block .cart-buttons .btn:active:focus, #header .cart_block .cart-buttons .btn:focus {
    background: #fff;
    color: #079edd; }
    #header .cart_block .cart-buttons .btn:hover span:after, #header .cart_block .cart-buttons .btn:active span:after, #header .cart_block .cart-buttons .btn:active:focus span:after, #header .cart_block .cart-buttons .btn:focus span:after {
      color: #079edd; }

@media only screen and (min-width: 1200px) {
  #htmlcontent_top ul li a:hover .bannerBox button:hover span {
    background: rgba(41, 41, 41, 0.9); }
    #htmlcontent_top ul li a:hover .bannerBox button:hover span:after {
      background: rgba(7, 158, 221, 0.8); } }
#htmlcontent_top ul li .bannerBox:before {
  background: #079edd; }
#htmlcontent_top ul li .item-html button span {
  background: rgba(7, 158, 221, 0.8); }
  #htmlcontent_top ul li .item-html button span:after {
    background: rgba(41, 41, 41, 0.9); }

#htmlcontent_home ul li .item-html i.fa {
  color: #079edd; }
#htmlcontent_home ul li.htmlcontent-item-2 .item-html {
  background: rgba(7, 158, 221, 0.9); }
#htmlcontent_home ul li.htmlcontent-item-3 .item-html:after {
  background: #079edd; }

@media only screen and (min-width: 1200px) {
  .homeHook #tmhtmlcontent_home ul li a:hover .item-html h2 {
    color: #079edd; } }
.homeHook #tmhtmlcontent_home ul li .item-html h3 {
  color: #079edd; }
.homeHook #tmhtmlcontent_home ul li .item-html p:after {
  background: #079edd; }
.homeHook #homepage-blog li h5 a:hover {
  color: #079edd; }
.homeHook #homepage-blog li .post-descr .blogLink {
  color: #079edd; }
.homeHook #homepage-blog li .date_and_comments {
  background: #079edd; }

#home-page-tabs > li a:hover {
  color: #079edd; }
#home-page-tabs > li.active a {
  color: #079edd; }

.btn.btn-default.icon-right span:after {
  color: #079edd; }
.btn.btn-default.icon-left span:before {
  color: #079edd; }
.btn.btn-default span i.left {
  color: #079edd; }
.btn.btn-default span i.right {
  color: #079edd; }

.btn.ajax_add_to_cart_button, .btn.ajax_add_to_cart_product_button {
  background: #079edd; }

span.btn.ajax_add_to_cart_button, span.btn.ajax_add_to_cart_product_button {
  background: #079edd !important; }

ul.product_list .button-container .lnk_view:after {
  color: #079edd; }

.footer-container #footer h4 a:hover {
  color: #079edd; }
.footer-container #footer ul li a:hover {
  color: #079edd; }
.footer-container #footer #block_contact_infos > div ul li.phone span i {
  color: #079edd; }
.footer-container #footer #block_contact_infos > div ul li a {
  color: #079edd; }
@media only screen and (min-width: 1200px) {
  .footer-container #footer #social_block ul li a:hover {
    color: #079edd; } }
.footer-container #footer .bottom-footer div.container a:hover {
  color: #079edd; }

#footer #newsletter_block_left .form-group .btn-sm:before {
  background: #079edd; }
#footer #newsletter_block_left .warning_inline {
  color: #079edd; }

table#product_comparison .remove a:hover {
  color: #079edd; }

#cart_summary tfoot td#total_price_container {
  color: #079edd; }

#layer_cart .layer_cart_product h2 {
  color: #079edd; }
#layer_cart .layer_cart_product .cross:hover {
  color: #079edd; }

.our_price_display {
  color: #079edd; }

.fancybox-skin .fancybox-close:hover {
  color: #079edd; }

#listpage_content div.tree_top a:hover:before {
  color: #079edd; }

ul.product_list.list > li .product-flags .discount {
  color: #079edd; }

#subcategories ul li:hover .subcategory-name {
  color: #079edd; }

#toTop:before {
  background: #079edd; }

a:hover, a:focus {
  color: #079edd; }

.content_scene_cat span.category-name {
  color: #079edd; }

.block .title_block > a:hover, .block h4 > a:hover {
  color: #079edd; }

#usefull_link_block li a:hover, .block .list-block li a:hover, #usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
  color: #079edd; }

ul.step li.step_current, ul.step li.step_current span:after {
  background: #079edd;
  border-color: #04577a; }
