/* ====== añadido imagenes vista produco ======= */
 .envio_gratis{
    width: 500px;
}


 .envio_rapido {
  width: 500px;
}
span.telefono {
    color: antiquewhite;
}

.comments_advices a {
    background-color: #ced44e;
}

  li a.button.open-comment-form {
    display: none;
  }

#product_comments_block_tab a {
    background-color: #ced44e;
}

ul.usefull_link.nolist.clearBoth.pull-right.no-print {
    margin-right: 1%;
}

@media screen and (max-width: 800px) {

  ul.usefull_link.nolist.clearBoth.pull-right.no-print {
    margin-right: 6%;
}

.content_prices.main-color.clearfix {
    margin-bottom: 5px;
}

span#reduction_percent_display {
  display:none;
}

  .envio_rapido {
    width: 100%;

  }
}
@media screen and (max-width: 800px) {
  .envio_gratis {
    width: 100%;
  }
  .celda_envio_gratis {
    width: 100%;
  }
}

/* ============================ */
/* ====== IMAGE BLOCK ======= */
#image-block {
  position: relative;
}
#image-block .labels {
  position: absolute;
  z-index: 900;
  right: 20px;
  top: 20px;
  color: #ebebeb;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 13px;
  font-weight: 700;
}
#image-block .labels span {
  padding: 2px 10px;
  display: block;
  text-shadow: 1px 1px 1px #000;
}
#image-block .labels .new {
  background: #bcd634;
}
#image-block .labels .sale {
  background: #ff4938;
}
#image-block .zoomPad {
  float: none;
}
#view_full_size {
  display: block;
  position: relative;
  border: 9px solid #fff;
  margin-bottom: 10px;
}
#view_full_size .image-zoom {
  display: block;
  position: relative;
  z-index: 6;
}
#view_full_size:hover .hover_bg {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
#view_full_size .hover_bg {
  z-index: 5;
  background: rgba(255, 65, 120, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
#view_full_size .hover_bg i {
  color: #fff;
  font-size: 60px;
  position: absolute;
  left: 40%;
  top: 40%;
}
#thumbs_list_frame {
  margin-bottom: 45px;
  float: left;
}
#thumbs_list_frame.owl-carousel-ph {
  width: 80%;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #thumbs_list_frame.owl-carousel-ph {
    width: 74%;
  }
}
#thumbs_list_frame .item {
  margin-right: 15px;
}
#thumbs_list_frame .item a {
  display: block;
  position: relative;
}
#thumbs_list_frame .item a:hover .hover_bg {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
}
#thumbs_list_frame .item a .hover_bg {
  z-index: 5;
  background: rgba(255, 65, 120, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
#thumbs_list_frame .item a .hover_bg i {
  color: #fff;
  font-size: 26px;
  position: absolute;
  left: 40%;
  top: 40%;
}
#thumbs_list {
  overflow: hidden;
  margin: 0;
}
#thumbs_list .arrow-prev {
  float: left;
  margin-right: 15px;
  margin-top: 30px;
}
#thumbs_list .arrow-next {
  float: right;
  margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  #thumbs_list .arrow-ph {
    display: none;
  }
}
@media (max-width: 767px) {
  #thumbs_list .arrow-prev,
  #thumbs_list .arrow-next {
    margin-top: 170px;
  }
}
/* ============================ */
/* ====== PRODUCT INFO ======= */
div.product-desc h1 {
  font-size: 28px;
  color: #2c313b;
  text-transform: uppercase;
  border-bottom: 1px solid #dbdbdb;
  line-height: 28px;
  padding: 16px 0 15px 0;
  margin: 0 0 15px 0;
}
div.product-desc .info-box {
  float: right;
  background: #fff;
  padding: 15px;
  margin: 46px 0 18px 28px;
  display: inline-block;
}
div.product-desc .info-box p {
  margin: 0 0 5px 0;
  line-height: 15px;
}
div.product-desc .info-box p label {
  font-weight: 400;
  color: #b1b1b1;
  width: 70px;
  margin: 0 5px 5px 0;
}
div.product-desc .info-box p span {
  font-weight: 700;
  color: #2c313b;
}
div.product-desc .info-box .warning_inline {
  color: #ff0000;
}
div.product-desc .product_attributes {
  margin: 0 0 0 0px;
}
div.product-desc .product_attributes .attribute_fieldset {
  margin: 0 0 14px 0;
}
div.product-desc .product_attributes select {
  padding: 0 20px 0 10px;
}
div.product-desc .product_attributes label {
  min-width: 20px;
  margin: 0 5px 0 0;
  line-height: 20px;
}
div.product-desc .content_prices {
  padding: 20px 25px;
  margin: 0 0 8px 0px;
  float: left;
  width: 100%;
  position: relative;
}
div.product-desc .content_prices p {
  margin: 0;
}
div.product-desc .content_prices span {
  display: inline-block;
  margin-right: 10px;
}
div.product-desc .content_prices #old_price_display {
  font-size: 20px;
  font-weight: 700;
  color: #ffadc5;
  text-decoration: line-through;
}
div.product-desc .content_prices #our_price_display {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  line-height: 46px;
}
div.product-desc .content_prices #reduction_percent_display {
  background: #2c313b;
  font-size: 15px;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: -41px;
  left: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  div.product-desc .content_prices #reduction_percent_display {
    bottom: 0;
  }
}
div.product-desc .content_prices .pack_price {
  clear: both;
  float: left;
  font-size: 20px;
  font-weight: 700;
  color: #ffadc5;
  margin: 5px 0 0 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  div.product-desc .info-box,
  div.product-desc .product_attributes,
  div.product-desc .content_prices {
    margin-left: 0;
  }
  div.product-desc .content_prices {
    margin-bottom: 55px;
  }
}
@media (max-width: 767px) {
  div.product-desc .info-box,
  div.product-desc .product_attributes,
  div.product-desc .content_prices {
    margin-left: 0;
  }
  div.product-desc .content_prices {
    margin-bottom: 55px;
  }
  div.product-desc .content_prices p {
    margin-bottom: 10px;
  }
  div.product-desc .content_prices #add_to_cart {
    clear: both;
    float: left!important;
    margin-bottom: 0;
  }
}
#short_description_content {
  margin: 0 0 15px 0;
}
#color_to_pick_list {
  list-style: none;
  overflow: hidden;
  margin: 0;
}
#color_to_pick_list li {
  float: left;
  padding: 2px;
  border: 1px solid #dbdbdb;
  margin: 0 5px 5px 0;
  transition: border-color 300ms ease 0s;
  -webkit-transition: border-color 300ms ease 0s;
  -moz-transition: border-color 300ms ease 0s;
  -ms-transition: border-color 300ms ease 0s;
  -o-transition: border-color 300ms ease 0s;
}
#color_to_pick_list li.selected,
#color_to_pick_list li:hover {
  border: 1px solid #2c313b;
}
#color_to_pick_list li a {
  display: block;
  width: 28px;
  height: 33px;
}
#quantity_wanted_p {
  display: block;
  overflow: hidden;
}
#quantity_wanted_p label {
  float: left;
  min-width: 80px;
  margin: 0 5px 0 0;
  line-height: 36px;
}
#quantity_wanted_p .counter {
  float: left;
  background: #fff;
  height: 36px;
  padding: 7px 0px;
  position: relative;
}
#quantity_wanted_p .counter input {
  color: #2c313b;
  font-weight: 700;
  font-size: 13px;
}
#quantity_wanted_p .counter .btn-q {
  background: #2c313b;
  font-size: 10px;
  color: #fff;
  padding: 2px 5px;
  margin: 0 0 0 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: right;
  transition: background 300ms ease 0s;
  -webkit-transition: background 300ms ease 0s;
  -moz-transition: background 300ms ease 0s;
  -ms-transition: background 300ms ease 0s;
  -o-transition: background 300ms ease 0s;
}
#quantity_wanted_p .counter .btn-q:hover {
  background: #ff4178;
}
@media (min-width: 768px) and (max-width: 991px) {
  #quantity_wanted_p {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #quantity_wanted_p {
    margin-left: 0;
  }
}
#add_to_cart .button {
  background: #fff;
  color: #ff4178;
}
#add_to_cart .button:hover {
  background: #2c313b;
  color: #fff;
}
ul.usefull_link li {
  float: left;
  margin-left: 5px;
  margin-bottom: 10px;
  position: relative;
}
ul.usefull_link li .social-sharing {
  background: #b1b1b1;
  padding: 5px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  width: 85px;
}
ul.usefull_link li .social-sharing.tw:hover {
  background: #33ccff;
}
ul.usefull_link li .social-sharing.fb:hover {
  background: #3b579d;
}
ul.usefull_link li .social-sharing.pin:hover {
  background: #ed0000;
}
ul.usefull_link li .social-sharing.g:hover {
  background: #db4d37;
}
.page-product-box {
  margin: 0 0 17px 0;
  overflow: hidden;
}
.page-product-box .heading_block {
  margin-bottom: 10px;
}
.page-product-box .heading_block.nomargin {
  margin-bottom: 0;
}
.page-product-box.ph_relatedposts {
  margin-bottom: 0;
}
.page-product-box.nomargin .heading_block {
  margin-bottom: 0;
}
.page-product-box.nomargin .page-product-content {
  width: 100%;
  background: #fff;
  padding: 15px;
}
.page-product-box.nomargin #customizationForm {
  padding-top: 15px;
}
.page-product-box .table-data-sheet td {
  border: 1px solid #ddd;
}
#product_comments_block_tab {
  width: 100%;
  background: #fff;
  padding: 15px;
}
#product_payment_logos {
  clear: both;
}
#usefull_link_block {
  margin-bottom: 30px;
}
#usefull_link_block li {
  float: left;
  margin: 0 5px 5px 0;
}
#usefull_link_block li a {
  padding: 0 5px;
  height: 29px;
  line-height: 29px;
}
#usefull_link_block li.button {
  padding: 0 5px;
  height: 29px;
  line-height: 29px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  #usefull_link_block li.button {
    font-size: 11px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #usefull_link_block li.button {
    height: auto;
    line-height: 15px;
    padding: 5px;
  }
}
#send_friend_form_content p.intro_form {
  margin: 10px 0;
  font-weight: 700;
}
.attribute_list ul {
    list-style-type: none;
}
@media (max-width: 1000px) {
  .info-box {
    float:unset !important;
    margin:0 !important;

  }
  #product_reference{display:none;}
  #product_condition{display:none;}
}
tr:nth-child(odd) {
    background-color: #adafb3;
    color: white;
}

.semillas_atributos {
  width:100%;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1.2em;
  height           : 1.2em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

input[type=radio]:not(old):checked +  label > span > span{
  display          : block;
  width            : 0.9em;
  height           : 0.9em;
  margin           : 0.1em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}

.semillas_atributos_radio {
    text-align: right;
}

i.fa.fa-arrow-down, .fa-arrow-up{
  float:right;
  margin-top: 1%;
  font-size: 15px;
}

.panel-default>.panel-heading {
    height: 46px;
}

p.panel-title {
    width: 90%;
    font-weight: bold;
    font-size: 18px;
    float: left;
}

p#quantity_wanted_p label {
  font-weight: bold;
    color: #7BBD42;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
span.counter {
    border: 1px solid rgb(173, 175, 179) !important;
}

#quantity_wanted_p .counter {
    padding: 8px 2px 0px 4px;
}