a:hover,
.main-color-txt,
body.cms div.rte ul li,
.page-heading,
div.topbar .select-options.active i,
div.topbar .select-options ul li a:hover,
div.topbar .select-options p span,
div.topbar .shortlinks ul li a:hover,
#search_block_top i:hover,
.shopping_cart p a,
.shopping_cart a.cart-contents:hover > i,
.shopping_cart a.cart-contents.active > i,
.shopping_cart a.cart-contents > span span,
.shopping_cart .cart_block dl dt .product-name,
.shopping_cart .cart_block dl dt .product-name a,
.shopping_cart .cart_block dl dt .remove_link a:hover,
.shopping_cart .cart_block .cart-prices span.price,
.shopping_cart .cart_block .cart-buttons a:hover,
.shopping-cart-mobile a.cart-contents > span span,
.slider .text h1 span,
.slider .text h2 span,
.main-box .icon:after,
#categories_block_left.category ul li i,
#categories_block_left.category ul ul li:hover i,
#categories_block_left.category ul ul li.active i,
#categories_block_left.category ul ul li.active2 i,
#layered_block_left #enabled_filters li a i,
.block_tags .block_content a:hover,
.product_list_ph.list .product .list_info div.price,
.star_content div.star_on:after,
.star_content div.star_hover:after,
.breadcrumb span.navigation_page,
body.pagenotfound h1,
form.std h3,
form.std .form-control:focus,
form.std label sup,
form.std div.radio input + label:before,
form.std div.radio input:checked + label,
form.std div.checkbox input + label:before,
form.std div.checkbox input:checked + label,
form.std div.submit .required,
#sitemap_content .sitemap_block ul li a:hover,
.panel-group.dark .panel-heading h4 a:hover,
.reviews-carousel-wrapper .reviews-carousel-item h4 a:hover,
#order .heading-counter span,
table.table tbody td.cart_description .product-name a,
.summary-shopping table tr.cart_total_price,
#add_to_cart .button,
.selectBox-options li.selectBox-hover a,
.selectBox-options li.selectBox-selected a,
.ph_megamenu_mobile_toggle a.show_megamenu:hover,
.ph_megamenu_mobile_toggle a.hide_megamenu:hover,
#ph_megamenu_wrapper #ph_megamenu .mega-menu ul li a:hover,
#ph_megamenu_wrapper #ph_megamenu .dropdown li a:hover,
#ph_megamenu_wrapper #ph_megamenu .dropdown li a:hover:before,
.ph_simpleblog .simpleblog-posts .post-title h4 a {
  color: #cfcfcf;
}
@media (max-width: 991px) {
  #ph_megamenu_wrapper #ph_megamenu .dropdown li a:hover {
    color: #cfcfcf;
  }
}
.main-color,
.arrow-ph,
body.cms div.rte ol li:before,
body.cms div.rte .testimonials .inner,
.button-mini:hover,
.shopping_cart .cart_block dl dt .remove_link a,
.shopping_cart .cart_block .cart-buttons a,
.slider ol.dots li.active,
.slider ol.dots li:hover,
.mini_slider .dots li.active,
.mini_slider .dots li:hover,
#categories_block_left ul li.active > a,
#categories_block_left ul li.active2 > a,
#categories_block_left ul li a:hover,
#layered_block_left #enabled_filters .layered_subtitle,
.social-icons a:hover,
div.pagination ul li.current span,
div.pagination ul li a:hover,
body.pagenotfound .arrow-notfound,
body.pagenotfound a.home:hover i,
.label.label-primary,
.nav-tabs > li.active > a,
.nav-tabs > li.active a:focus,
.reviews-carousel-wrapper .reviews-carousel-item .see-more-btn:hover,
#slider-range .ui-slider-range,
table.table tbody td.cart_avail .label-success,
table.table tbody td.cart_quantity .cart_quantity_button a,
table.table tbody td.cart_delete a,
#quantity_wanted_p .counter .btn-q:hover,
#ph_megamenu_wrapper #ph_megamenu > li:first-child > a,
#ph_megamenu_wrapper #ph_megamenu > li > a:hover,
#ph_megamenu_wrapper #ph_megamenu > li.open > a,
div.heading_block h3 i,
div.heading_block h4 i,
.sidebar div.heading_block,
.sidebar div.heading_block i,
.selectBox-dropdown,
.rev_slider_wrapper .tp-leftarrow.default,
.rev_slider_wrapper .tp-rightarrow.default,
.rev_slider_wrapper .tp-bullets .bullet.selected,
.rev_slider_wrapper .tp-bullets .bullet:hover {
  background: #cfcfcf;
}
.product_list_ph .product .info,
#ph_megamenu_wrapper #ph_megamenu .mega-menu .product_list_ph .ph_product_item .ph_product_info,
#thumbs_list_frame .item a .hover_bg,
#view_full_size .hover_bg {
  background: rgba(242, 242, 242, 0.8);
}
div.topbar {
  background: #f2f2f2;
}
body.cms div.rte .testimonials .inner:after,
#search_query_top:focus,
.shopping_cart a.cart-contents:hover > span,
.shopping_cart a.cart-contents.active > span,
.main-box:hover,
.block_tags .block_content a:hover,
.prefooter .block_footer h4,
body.pagenotfound a.home i,
form.std .form-control:focus {
  border-color: #cfcfcf;
}
#ph_megamenu_wrapper #ph_megamenu > li {
  border-color: #e7e7e7;
}
div.topbar .select-options,
div.topbar .select-options:nth-of-type(2),
div.topbar .shortlinks ul li {
  border-color: #e7e7e7;
}
div.topbar .select-options ul li {
  border-color: #999;
}
#search_block_top i,
.shopping_cart a.cart-contents > i,
div.topbar .shortlinks ul li a:hover,
.main-box h3,
div.heading_block h3,
div.heading_block h4,
div.heading_block h3 a,
div.heading_block h4 a,
div.simpleblog-recent .title h3,
.product_list_ph .product .info h3 a,
.product_list_ph .product .info span.price,
.product_list_ph .product .info span.old-price,
#ph_megamenu_wrapper #ph_megamenu .mega-menu .product_list_ph .ph_product_item .ph_product_name a,
#ph_megamenu_wrapper #ph_megamenu .mega-menu .product_list_ph .ph_product_item .ph_product_price,
.sidebar div.heading_block h3 a:hover,
.sidebar div.heading_block h4 a:hover {
  color: #888;
}
.prefooter .prefooter-blocks,
#ph_megamenu_wrapper #ph_megamenu {
  background: #f2f2f2;
}
#newsletterRegistrationForm,
div.simpleblog-recent .post-read-more a:hover,
.product_list_ph .product .labels .sale,
#image-block .labels .sale {
  background: #88c354;
}
#newsletterRegistrationForm .button,
div.simpleblog-recent .post-read-more a:hover .button,
.product_list_ph .product .labels .sale .button,
#image-block .labels .sale .button {
  background: #549020;
}
.sidebar div.heading_block {
  border-color: #f2f2f2;
}
div.topbar .select-options p span,
#ph_megamenu_wrapper #ph_megamenu > li > a {
  color: #888;
}
.social-icons a:hover,
div.topbar .select-options.active p,
div.topbar .select-options.active p span,
#ph_megamenu_wrapper #ph_megamenu > li:first-child > a,
div.topbar .select-options ul li a:hover,
div.topbar .select-options ul li > span:hover,
.shopping_cart a.cart-contents.active > span {
  color: #ffffff;
}
div.topbar .select-options.active ul li a,
#ph_megamenu_wrapper #ph_megamenu .dropdown li a,
.shopping_cart .cart_block dl dt .product-atributes a {
  color: #ddd;
}
body,
.page-heading.grey span {
  background: #fff;
}
header.top .pattern {
  background: url(../../images/colors/header4.png) repeat top center;
}
div.simpleblog-recent {
  background: url(../../images/colors/header4.png) repeat top center;
}
div.topbar .select-options.active,
#search_block_top input[type="submit"].hover,
.shopping_cart a.cart-contents:hover > i,
.shopping_cart a.cart-contents.active > i,
.shopping_cart a.cart-contents:hover > span,
.shopping_cart a.cart-contents.active > span,
.shopping_cart .cart_block,
div.topbar .select-options ul,
#ph_megamenu_wrapper #ph_megamenu .mega-menu,
#ph_megamenu_wrapper #ph_megamenu .dropdown,
#ph_megamenu_wrapper #ph_megamenu > li.open > a,
#ph_megamenu_wrapper #ph_megamenu > li > a:hover {
  background: #888;
}
#ph_megamenu_wrapper #ph_megamenu .mega-menu {
  border-color: #555;
}
#ph_megamenu_wrapper #ph_megamenu .mega-menu h3,
#ph_megamenu_wrapper #ph_megamenu .dropdown li,
.shopping_cart .cart_block dl dt {
  border-color: #999;
}
.prefooter .block_footer h4,
.prefooter .block_footer h4 a,
.prefooter .block_footer ul li a:hover,
.prefooter .block_footer ul li a:hover:before,
.prefooter .block_footer.block_contact .item.even,
.prefooter .block_footer.block_contact .item.even i,
.bottom p strong,
.bottom a.totop {
  color: #7bbd42;
}
.prefooter .block_footer.block_contact .item {
  background: #7bbd42;
}
.prefooter .block_footer h4.dark {
  color: #000;
  border-color: #000;
}
.bottom {
  background: #d7d7d7;
}
.arrow-ph:hover,
.arrow-ph.grey:hover,
div.simpleblog-recent .title .button-mini:hover,
.product_list_ph .product .labels .new,
#image-block .labels .new,
.button.btn-primary,
#my-account ul.myaccount-link-list li a:hover {
  background: #f7c322;
}
.button.btn-primary:hover {
  background: #333;
}
.ph_simpleblog .simpleblog-posts .post-title h4 a {
  color: #5c5c5d;
}
.ph_simpleblog .simpleblog-posts .post-title h4 a:hover {
  text-decoration: none;
  color: #7bbd42;
}
.product_list_ph .product .labels span {
  background: #59d1fa;
}
.boxes .col-md-4:nth-of-type(1) .main-box {
  background: #59d1fa;
}
.boxes .col-md-4:nth-of-type(1) .main-box .icon {
  color: #59d1fa;
}
.boxes .col-md-4:nth-of-type(2) .main-box {
  background: #f7c322;
}
.boxes .col-md-4:nth-of-type(2) .main-box .icon {
  color: #f7c322;
}
.boxes .col-md-4:nth-of-type(3) .main-box {
  background: #88c354;
}
.boxes .col-md-4:nth-of-type(3) .main-box .icon {
  color: #88c354;
}
.boxes .main-box {
  border-color: transparent;
}
.boxes .main-box:hover .icon {
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.16);
}
.boxes .main-box .icon {
  background: #fff;
}
.boxes .main-box .icon:after {
  color: #fff;
}
.boxes .main-box h3 {
  color: #fff;
  text-transform: uppercase;
}
.boxes .main-box p {
  color: #fff;
}
#categories_block_left .heading_block,
#categories_block_left .heading_block h4 i {
  background: #59d1fa;
}
div.block .block_content {
  background: #f2f2f2;
}
#categories_block_left ul li a {
  color: #888;
}
#categories_block_left ul li a:hover {
  background: #59d1fa;
}
.product_list_ph .product .icons a:hover,
div.heading_block h3 i,
div.heading_block h4 i,
#order_step li.step_current,
.sidebar div.heading_block,
.sidebar div.heading_block,
.sidebar div.heading_block h3 i,
.sidebar div.heading_block h4 i {
  background: #f7c322;
}
div.heading_block {
  border-color: #f7c322;
}
.featured_products div.heading_block h3 i,
.featured_products div.heading_block h4 i {
  background: #59d1fa;
}
.featured_products div.heading_block {
  border-color: #59d1fa;
}
.new_products div.heading_block h3 i,
.new_products div.heading_block h4 i {
  background: #88c354;
}
.new_products div.heading_block {
  border-color: #88c354;
}
#product #add_to_cart .button {
  background: #7bbd42;
  color: #fff;
}
#product #add_to_cart .button:hover {
  background: #f7c322;
}
/* ============================ */
/* ======= SOCIAL ICONS ======= */
.social-icons .item.facebook a {
  background: #246caf;
}
.social-icons .item.facebook a:hover {
  background: #3186d5;
}
.social-icons .item.twitter a {
  background: #3fb8f0;
}
.social-icons .item.twitter a:hover {
  background: #6ec9f4;
}
.social-icons .item.google-plus a {
  background: #ec5656;
}
.social-icons .item.google-plus a:hover {
  background: #f18484;
}
.social-icons .item.behance a {
  background: #141414;
}
.social-icons .item.behance a:hover {
  background: #2e2e2e;
}
.container.content .forcefullwidth_wrapper_tp_banner:first-of-type {
  margin-top: -50px !important;
}
