@import "../../_theme_variables";

#languages-block-top {
	float: right;
	position: relative;
	padding:0;
	margin:66px 5px 24px 23px;
	@media (max-width: $screen-xs-max) { // max 767px
		margin:-30px 0 10px;
	}							
	span.firstWord {
		display: none;
	}
	div.current {
		padding: 4px 10px 6px;
		color: $light-text-color;
		cursor: pointer;
		background:#000;
		@include transition(all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22));
		strong {
			font-weight:300;
		}
		&:hover, &.active {
			background: #ff5b23;
			&:after {
				color:#fff;	
			}
		}
		&:after {
			content: "";
			font-family: $font-icon;
			display:inline-block;
			color: #ff5b23;
			line-height:18px;
			padding-left: 7px;
			@include transition(all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22));
		}
		&.active {
			&:after {
				content: "";
			}
		}
		.cur-label {
			// max 479px
			@media (max-width: $screen-xs - 1) {
				display: none;
			}
		}
	}
	ul {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 2;
		min-width:100%;
		li {
			color: $light-text-color;
			line-height: 35px;
			font-size: 13px;
			text-align:right;
			background: #000;
			margin-top:3px;
			a,
			> span {
				padding: 0 12px;
				display: block;
				color: $light-text-color;
			}
			&.selected, &.selected > span, &.selected a, &:hover a {
				color:#ff5b23;
			}
		}
	}
}