@import "../../_theme_variables";

.header_user_info {
	float: right;
	padding:65px 10px 25px;
	a {
		color: $light-text-color;
		display: block;
		cursor: pointer;
		line-height:30px;
		@include transition(all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22));
		&:before {
			content: "";
			font-family:$font-icon;
			font-size:15px;
			display:inline-block;
			width:30px;
			height:30px;
			text-align:center;
			background:#ff5b23;
			margin-right:7px;
			@include transition(all 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22));
		}
		&.logout {
			&:before {
				content: "";
			}
		}
		&.account {
			&:before {
				content: "";
			}
		}
		&:hover, &.active {
			color:#ff5b23;
			&:before {
				color:#fff;
				background:#202020;	
			}
		}
	}
	@media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
		padding:15px;
		clear:right;
		+ .header_user_info {
			clear:none;	
		}
	}
	@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // min 768px max 991px
		padding:15px;
		clear:right;
		a {
			font-size:12px;	
		}
		+ .header_user_info {
			clear:none;	
		}
	}
	@media (max-width: $screen-xs-max) { // max 767px
		padding:15px;
		clear:both;
		a {
			font-size:12px;	
		}
		+ .header_user_info {
			clear:none;	
		}
	}
}

.user_info {
	text-align:right;
	margin:20px 0 0 0;
	li {
		display:inline-block;
		padding-right:15px;
		a {
			text-decoration: none;
			&:hover {
				text-decoration:underline;	
			}
		}
	}
}